body {
	font-family: 'Press Start 2P', cursive !important;
}
.container {
	width: 100vmin;
}
.header {
	display: flex;
	height: 10vmax;
	background-color: green;
	text-align: center;
}
.header .title{
	color: red;
	line-height: 10vmax;
}
.info {
	background-color: indigo;
	text-align: center;
}
.info .title {
	color: red;
	line-height: 10vmax;
	display: none;
}
.info button {
	width: 75vmin;
}
.hs {
	height: 90vmax;
}
.q {
	height: 90vmax;
}
.list h2 {
	text-align: center;
	line-height: 10vmax;
}
.list table {
	margin-right: auto;
	margin-left: auto;

}
.list tbody {
	display: block;
	width: inherit;
	height: 60vmax;
    overflow-y: auto;
    overflow-x: hidden;
}
.list td {
	padding-left: 1vmin;
	padding-right: 1vmin;
}
::-webkit-scrollbar { 
    display: none; 
}

@media screen and (max-width: 768px) {
  .header {
  	display: none !important;
  }
  .info {
  	height: 100vmax;
  }
  .info .title {
	display: block;
  }
  .hs {
  	height: 100vmax;
  }
  .q {
  	height: 100vmax;
  }
}