body {
	font-family: 'Press Start 2P', cursive !important;
}
.header {
	height: 10vh;
}
.header h2{
	color: red;
	text-align: center;
	line-height: 10vh;
}
.list .col-lg{
	height: 90vh;
}
.list h2 {
	text-align: center;
	line-height: 10vh;
}
.list table {
	margin-right: auto;
	margin-left: auto;
}
.list tbody {
	display: block;
	width: inherit;
	height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.list td {
	padding-left: 1vw;
	padding-right: 1vw;
}

@media screen and (max-width: 425px) {
  .header {
  	height: 100vh;
  }
  .list .col-lg {
  	height: 100vh;
  }
}